header{
    height: 100px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    display: grid;
    place-items: center;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(193, 0, 207);
    font-size: 24px;
    font-weight: 600;
}